<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>《始祖家族/初代吸血鬼》全集电视剧在线观看-欧美剧-始祖家族/初代吸血鬼百度影音-51人人看电影网</title>
<meta name="keywords" content="始祖家族/初代吸血鬼全集,欧美剧《始祖家族/初代吸血鬼》,《始祖家族/初代吸血鬼》全集电视剧百度影音在线观看,《始祖家族/初代吸血鬼》全集电视剧快播qvod下载" />
<meta name="description" content="《始祖家族/初代吸血鬼》百度影音在线播放剧情介绍:编辑整理     《初代吸血鬼》讲述Klaus与初代吸血鬼的家族成员Elijah和Rebekah三兄妹返回新奥尔良定居后，并与其之前的门徒Marcel开始统治权争夺的惊险故事。     家族凝聚力量。千年前始祖吸血鬼家族相互以此为誓。他们约定生死相随，不离不弃。     如今，千年已逝，家族纽带不再牢固。岁月、悲惨经历和对权利的渴求让始...">
<link href="http://www.51rrkan.com/Tpl/51rrkan_v2.0/css/global.css?v=20131114" rel="stylesheet">
<link href="http://www.51rrkan.com/Tpl/51rrkan_v2.0/css/common.css?v=20131106" rel="stylesheet">
<link href="http://www.51rrkan.com/Tpl/51rrkan_v2.0/css/main.css?v=20131111" rel="stylesheet">
<!--[if lt IE 9]><script src="http://www.51rrkan.com/Tpl/51rrkan_v2.0/js/plugin/html5.js"></script><![endif]-->
<!--[if IE 6]><script src="http://www.51rrkan.com/Tpl/51rrkan_v2.0/js/plugin/DD_belatedPNG.js"></script><![endif]-->
<script>
	var TPL_URL = "/Tpl/51rrkan_v2.0/";
	var SITE_VER = "20131111";
    var AuthorID = "56037";
    var cm_type = "vod";
</script>
<script src="http://www.51rrkan.com/Tpl/51rrkan_v2.0/js/plugin/sea.js"></script>
<script src="http://www.51rrkan.com/Tpl/51rrkan_v2.0/js/sea-conf.js?v=20131111"></script>
<script type="text/javascript" src="http://www.51rrkan.com/detail/m.js"></script>
<script type="text/javascript">BAIDU_CLB_preloadSlots("633409","734868","638297","766471","690262","701675","756522","756523","638294","766471","700631","767875","700635","677944","698825");</script>
</head>
<body>
<script>
	var bigscreen = screen.width<=1366?false:true;
	if(!bigscreen) document.getElementsByTagName("body")[0].className = "w980";
</script>
<header class="g_header">
	<section class="g_topbar clearfix">
		<div class="wrapper1200">
			<p class="l fl"><span>提示：</span>担心找不到本站？在百度搜索“<a href="http://www.baidu.com/s?wd=%E4%BA%BA%E4%BA%BA%E7%9C%8B" target="_blank">人人看</a>”，网址永远不丢失！</p>
			<div class="r fr"><a href="http://www.51rrkan.com/gb-show.html" target="_blank">求片留言</a><em>|</em><a href="http://www.51rrkan.com/gengxin.html" target="_blank">今日更新</a><em>|</em><a href="javascript:try{window.external.addFavorite(window.location,document.title)}catch(e){alert('请使用Ctrl+D将本页面添加到书签！')}">收藏</a>（Ctrl+D快速将本页面加入收藏夹）</div>
		</div>
	</section>
	<section class="g_logobar wrapper1200 clearfix">
		<a class="logo fl" href="http://www.51rrkan.com/" title="人人看电影网"><img width="146" height="75" alt="人人看电影网" src="http://www.51rrkan.com/Tpl/51rrkan_v2.0/images/logo.png"></a>
		<div class="search_wrap fl clearfix">
			<form id="g_search_form" class="fl clearfix" action="/index.php?s=Home-search-search" method="post" target="_blank">
				<div class="text_wrap fl">
					<input id="s_ac" class="text" type="text" name="wd" value="" autocomplete="off">
					<div id="g_placeholder" class="placeholder">输入影片、导演或演员名 多个搜索请用空格分开</div>
				</div>
				<input class="btn fl pngFix" type="submit" value="" title="搜索">
			</form>
			<script>if(/iPhone|iPad/g.test(navigator.userAgent)) document.getElementById("g_search_form").setAttribute("target","_self");</script>
			<p class="hot fl clearfix"><a class="allmovie fr" href="http://www.51rrkan.com/allmovie.html" title="全部影片" target="_blank">全部影片</a><a href="http://www.51rrkan.com/khdy/diqiuyinli/" target="_blank">地心引力</a><a href="http://www.51rrkan.com/juqing/sd64010/" target="_blank">扫毒</a><a href="http://www.51rrkan.com/guochan/zaimenjiehunba/" target="_blank">咱们结婚吧</a><a href="http://www.51rrkan.com/khdy/jieyouxihuoxingliaoyuan/" target="_blank">饥饿游戏2</a><a href="http://www.51rrkan.com/dzdy/jctk65337/" target="_blank">金蝉脱壳</a><a href="http://www.51rrkan.com/day/58.html" target="_blank">女汉子</a><a href="http://www.51rrkan.com/topic/183.html" target="_blank">僵尸合辑</a></p>
		</div>
		<a class="classify fl" href="http://www.51rrkan.com/dianying/all/" target="blank">分类检索</a>
		<div class="g_tools fr clearfix">
			<div id="g_box_wrap" class="tool_bar fl clearfix">
				<div id="g_login_wrap" class="clearfix fl">
					<a id="g_login" class="login" href="javascript:;">登录</a>
					<em>|</em>
					<a class="reg" href="http://www.51rrkan.com/member/reg" target="_blank">注册</a>
					<em>|</em>
				</div>
				<a id="g_history" class="history" href="javascript:;">播放记录</a>
				<em>|</em>
				<a id="g_remind" class="remind" href="javascript:;">提醒</a>
				<section id="g_login_box" class="g_login_box">
					<div class="bd">
						<form action="/index.php?s=Home-Member-login" method="post">
                        	<input type="hidden" name="ajax" value="1"  />
							<p><label for="g_usr_input">账号：</label><input type="text" name="username" id="g_usr_input" value=""></p>
							<p><label for="g_pwd_input">密码：</label><input type="password" name="password" id="g_pwd_input" value=""></p>
							<button id="g_smt_button" type="submit">登录</button>
							<a class="get_pwd" href="http://www.51rrkan.com/member/getpassword" target="_blank">找回密码</a>
						</form>
					</div>
					<div class="ft"><a class="qq_login" href="http://www.51rrkan.com/member/qq" target="_blank" title="QQ账号一键登录"></a>还没有账号？ 请<a href="http://www.51rrkan.com/member/reg" target="_blank">注册</a></div>
				</section>
				<section id="g_remind_box" class="g_remind_box">
					<div class="bd">
						<p>您尚未设置任何提醒</p>
					</div>
					<div class="ft"><a href="http://www.51rrkan.com/member/collect" target="_blank">管理我的提醒</a></div>
				</section>
				<section id="g_history_box" class="g_history_box">
					<div class="bd">
						<p>您尚未看过任何视频</p>
					</div>
					<div class="ft clearfix"><a class="fr h_login" href="javascript:;">登录</a><a class="empty" href="javascript:;">清空全部记录</a></div>
				</section>
			</div>
			<div class="fl share_wrap">
				<!-- Baidu Button BEGIN -->
				<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
				<a class="bds_tsina"></a>
				<a class="bds_qzone"></a>
				<a class="bds_tqq"></a>
				<a class="bds_tieba"></a>
				<a class="bds_renren"></a>
				<a class="bds_sqq"></a>
				<span class="bds_more">更多</span>
				<a class="shareCount"></a>
				</div>
				<!-- Baidu Button END -->
			</div>
		</div>
	</section>
	<section class="g_navbar">
		<div class="wrapper1200">
			<nav class="nav fl">
				<ul class="fl clearfix">
					<li  ><a href="http://www.51rrkan.com/">首页</a></li>
					<li ><a href="http://www.51rrkan.com/dianying/">电影</a></li>
					<li class="curr first"><a href="http://www.51rrkan.com/dianshiju/">电视剧</a></li>
					<li  ><a href="http://www.51rrkan.com/zongyi/">综艺</a></li>
					<li  ><a href="http://www.51rrkan.com/dongmana/">动漫</a></li>
					<li  ><a href="http://www.51rrkan.com/vmovie/">微电影</a></li>
					<li  ><a href="http://www.51rrkan.com/live/">直播</a></li>
				</ul>
			</nav>
			<div class="division fl"></div>
			<script>(function(){
				var u, c, d = new Date().getHours();
				if(d>=6 && d<11){ u = 1; c = '';}
				else if(d>=11 && d<18){ u = 2; c = 'afternoon';}
				else{ u = 3; c = 'night';}
				document.write('<a class="theatre '+ c +' fr" href="http://www.51rrkan.com/theater/'+ u +'/" target="_blank" title="影院"></a>');
			})()</script>
			<div class="menu fr clearfix">
				<a class="rank" href="http://www.51rrkan.com/paihang/" target="_blank">排行榜</a>
				<a class="daily" href="http://www.51rrkan.com/day/" target="_blank">今日观影</a>
				<a class="spe" href="http://www.51rrkan.com/topic/" target="_blank">特色专辑</a>
			</div>
		</div>
	</section>
	<section class="g_subnav">
		<div class="wrapper1200 clearfix">
			<dl class="g_subnav_movie fl">
				<dt class="mov"><em>|</em>电影</dt>
				<dd ><a href="http://www.51rrkan.com/dzdy/">动作</a></dd>
				<dd ><a href="http://www.51rrkan.com/xiju/">喜剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/aiqing/">爱情</a></dd>
				<dd ><a href="http://www.51rrkan.com/khdy/">科幻</a></dd>
				<dd ><a href="http://www.51rrkan.com/kongbu/">恐怖</a></dd>
				<dd ><a href="http://www.51rrkan.com/juqing/">剧情</a></dd>
				<dd ><a href="http://www.51rrkan.com/zainan/">灾难</a></dd>
				<dd ><a href="http://www.51rrkan.com/xuanyi/">悬疑</a></dd>
				<dd ><a href="http://www.51rrkan.com/mohuan/">魔幻</a></dd>
				<dd ><a href="http://www.51rrkan.com/zhanzheng/">战争</a></dd>
				<dd ><a href="http://www.51rrkan.com/jilu/">纪录</a></dd>
				<dd ><a href="http://www.51rrkan.com/juchang/">动画</a></dd>
			</dl>
			<dl class="fl">
				<dt class="tv"><em>|</em>电视剧</dt>
				<dd ><a href="http://www.51rrkan.com/guochan/">国产剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/xianggang/">香港剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/taiwan/">台湾剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/riben/">日本剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/hanguo/">韩国剧</a></dd>
				<dd class="curr first"><a href="http://www.51rrkan.com/omdsj/">欧美剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/taiguo/">泰国剧</a></dd>
				<dd ><a href="http://www.51rrkan.com/yindu/">印度剧</a></dd>
			</dl>
		</div>
	</section>
</header>
<script>
seajs.use(["jquery","autocomplete"],function($,autocomplete){
	var input = $("#s_ac"),placeholder = $('#g_placeholder');
	if(window.ActiveXObject) input.get(0).onpropertychange = change;else input.get(0).oninput = change;
	function change(){if(input.val()!='') placeholder.hide();else placeholder.show();}
	if(!window.bigscreen) bigscreen = false; 
	autocomplete($);
	var url = "/index.php?s=vod-autoSelect",
		settings = {
			width: bigscreen ? 427 : 359,
			scrollHeight: 300,
			selectFirst: false,
			formatItem: function(row, i, max) {
				var row_json = eval('(' + row + ')');
				return '<span class="fr">('+row_json.listname+')</span><a target="blank" href="'+row_json.url+'">'+row_json.text+'</a>';
			},
			formatResult: function(row) {
				var row_json = eval('(' + row + ')');
				return row_json.text;
			},
			formatMatch: function(row, i, max) {
				var row_json = eval('(' + row + ')');
				return row_json.text;
			}
		};
	$("#s_ac").autocomplete(url,settings).result(function(event, data, formatted){ 
		var row_json = eval('(' + data + ')');
		window.open(row_json.url, "", "");
	});
});
</script>
<div class="p_vod">
	<div class="wrapper1200">
		<section class="pics1200 clearfix">
			<div class="pic960 fl">
				<div class="pic960 fl" style="height:90px;"><script type="text/javascript">BAIDU_CLB_fillSlot("633409");</script></div>
				<div class="pic960 fl" style="height:90px;"><script type="text/javascript">BAIDU_CLB_fillSlot("734868");</script></div>
			</div>
			<div class="pic240 fr res_hide" style="height:180px;"><div class="bd" style="height:158px;"><script type="text/javascript">BAIDU_CLB_fillSlot("766471");</script></div></div>
		</section>
		<div class="breadnav_wrap clearfix">
			<section class="breadnav fl">当前位置：<a href="http://www.51rrkan.com/">首页</a> > <a href="http://www.51rrkan.com/omdsj/">欧美剧</a> > <span>始祖家族/初代吸血鬼</span></section>
					</div>
		<section class="main_wrap">
			<div class="main sec clearfix">	
				<div id="tab1" class="l fl cm_tab">
					<a class="img_wrap" title="始祖家族/初代吸血鬼海报与剧情简介" href="http://www.51rrkan.com/omdsj/cdxxg/comments-1.html" target="_blank">
						<img width="210" height="280" alt="始祖家族/初代吸血鬼" src="http://pica.51rrkan.org/Uploads/vod/2013-12-04/529e8a9b61a95_210x280.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第9集</em>
							<em class=""></em>
						</span>
					</a>
					<div class="tools clearfix hd"><a class="curr" href="http://www.51rrkan.com/omdsj/cdxxg/comments-1.html">剧照</a><a class="center" href="#cmt_msg">讨论</a><a id="vod_collect" onclick="Tools.collect(this)" href="javascript:;">收藏</a></div>
				</div>
				<div class="r fr clearfix">
					<div class="detail fl">
						<div class="title">
							<h1 class="fl">始祖家族/初代吸血鬼</h1>
							<span class="fr"><em>[更新至第9集]</em></span>						</div>
						<p class="rss_note">追溯吸血鬼家族秘史 每周三更新一集，敬请期待！<span id="vod_remind" class="remind_wrap"><a href="javascript:;" onclick="Tools.remind('save')">更新提醒！</a></span></p>
												<ul>
							<li class="odd"><span>导演</span><p><a href="http://www.51rrkan.com/search-search-director-Dane.html" target="_blank">Dane</a> <a href="http://www.51rrkan.com/search-search-director-Charbeneau.html" target="_blank">Charbeneau</a>&nbsp;</p></li>
							<li><span>主演</span><p><a href="http://www.51rrkan.com/search-search-actor-%E7%BA%A6%E7%91%9F%E5%A4%AB%C2%B7%E6%91%A9%E6%A0%B9.html" target="_blank">约瑟夫·摩根</a> <a href="http://www.51rrkan.com/search-search-actor-%E5%85%8B%E8%8E%B1%E5%B0%94%C2%B7%E9%9C%8D%E5%B0%94%E7%89%B9.html" target="_blank">克莱尔·霍尔特</a> <a href="http://www.51rrkan.com/search-search-actor-%E4%B8%B9%E5%B0%BC%E5%B0%94%C2%B7%E5%90%89%E5%88%A9%E6%96%AF.html" target="_blank">丹尼尔·吉利斯</a>&nbsp;</p></li>
							<li class="odd"><span>类型</span><p>欧美剧</p></li>
							<li><span>地区</span><p>欧美&nbsp;</p></li>
							<li class="odd"><span>上映</span><p>2013-10-03<span class="ctime">更新：2013-12-04 17:12</span></p></li>
							<li><span>评分</span>
							<p>								<span class="d">豆瓣：<em>7.8</em></span>								<span class="i">IMDB：<em>7.8</em></span>															</p>
							</li>
							<li class="odd"><span>讨论</span><p class="comment"><span>78人</span><a href="#cmt_anchor">评论</a></p></li>
						</ul>
					</div>
					<section class="pic336 fl" style="height:280px;"><script type="text/javascript">BAIDU_CLB_fillSlot("638297");</script></section>
					<div class="l_b fl clearfix">
						<section class="pic325 fl" style="height:40px; margin-top:15px;"><script type="text/javascript">BAIDU_CLB_fillSlot("690262");</script></section>
						<!-- Baidu Button BEGIN -->
						<div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare">
							<a class="bds_qzone"></a>
							<a class="bds_tsina"></a>
							<a class="bds_tqq"></a>
							<a class="bds_renren"></a>
							<a class="bds_tieba"></a>
							<a class="bds_douban"></a>
							<a class="bds_sqq"></a>
							<span class="bds_more"></span>
							<a class="shareCount"></a>
						</div>
						<!-- Baidu Button END -->
					</div>
				</div>
			</div>
			<div class="find_more">
				<h5>你是否在<em>寻找</em>：</h5>
				<a href="http://www.51rrkan.com/omdsj/jwzf43476/" title="绝望主妇第三季" target="_blank">绝望主妇第三季</a><a href="http://www.51rrkan.com/omdsj/loushanglouxia/" title="楼上楼下" target="_blank">楼上楼下</a><a href="http://www.51rrkan.com/omdsj/shenhaiyuanyijuji/" title="深海圆疑" target="_blank">深海圆疑</a><a href="http://www.51rrkan.com/omdsj/loushanglouxiadierji/" title="楼上楼下第二季" target="_blank">楼上楼下第二季</a><a href="http://www.51rrkan.com/omdsj/duimiandeenvkanguolaidiyiji/" title="对面的恶女看过来第一季" target="_blank">对面的恶女看过来</a><a href="http://www.51rrkan.com/aiqing/aizailimingpoxiaoshi/" title="爱在黎明破晓时/日出之前" target="_blank">爱在黎明破晓时/</a><a href="http://www.51rrkan.com/juqing/aizairiluoyushi/" title="爱在日落黄昏时" target="_blank">爱在日落黄昏时</a><a href="http://www.51rrkan.com/juqing/jrbsjk/" title="巨人捕手杰克" target="_blank">巨人捕手杰克</a><a href="http://www.51rrkan.com/aiqing/riluozhiqian/" title="日落之前" target="_blank">日落之前</a><a href="http://www.51rrkan.com/dzdy/007jinshouzhi/" title="007之金手指" target="_blank">007之金手指</a>			</div>		</section>
		<section class="playlist bdhd sec">
			<header>
				<h4>百度影音在线播放</h4>
				<a class="down_player" href="http://dl.p2sp.baidu.com/BaiduPlayer/s/BaiduPlayer_71051058.exe" rel="nofollow">点播前，请下载百度影音播放器（新2013.7.5版）</a>
							</header>
			<div class="mlist">
								<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-8.html" target="_blank">第09集高清<i class="new pngFix"></i></a>
										<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-7.html" target="_blank">第08集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-6.html" target="_blank">第07集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-5.html" target="_blank">第06集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-4.html" target="_blank">第05集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-3.html" target="_blank">第04集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-2.html" target="_blank">第03集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-1.html" target="_blank">第02集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-0-0.html" target="_blank">第01集高清</a>			</div>
		</section><section class="playlist bdhd sec">
			<header>
				<h4>百度影音在线播放</h4>
				<a class="down_player" href="http://dl.p2sp.baidu.com/BaiduPlayer/s/BaiduPlayer_71051058.exe" rel="nofollow">点播前，请下载百度影音播放器（新2013.7.5版）</a>
							</header>
			<div class="mlist">
													<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-8.html" target="_blank">第09集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-7.html" target="_blank">第08集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-6.html" target="_blank">第07集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-5.html" target="_blank">第06集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-4.html" target="_blank">第05集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-3.html" target="_blank">第04集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-2.html" target="_blank">第03集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-1.html" target="_blank">第02集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-1-0.html" target="_blank">第01集</a>			</div>
		</section><section class="playlist bdhd sec">
			<header>
				<h4>百度影音在线播放</h4>
				<a class="down_player" href="http://dl.p2sp.baidu.com/BaiduPlayer/s/BaiduPlayer_71051058.exe" rel="nofollow">点播前，请下载百度影音播放器（新2013.7.5版）</a>
							</header>
			<div class="mlist">
													<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-8.html" target="_blank">第09集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-7.html" target="_blank">第08集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-6.html" target="_blank">第07集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-5.html" target="_blank">第06集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-4.html" target="_blank">第05集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-3.html" target="_blank">第04集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-2.html" target="_blank">第03集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-1.html" target="_blank">第02集高清</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-2-0.html" target="_blank">第01集高清</a>			</div>
		</section><section class="playlist yuku sec">
			<header>
				<h4>优酷视频在线播放</h4>
								<span>直接播放</span>			</header>
			<div class="mlist">
													<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-7.html" target="_blank">第8集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-6.html" target="_blank">第7集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-5.html" target="_blank">第6集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-4.html" target="_blank">第5集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-3.html" target="_blank">第4集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-2.html" target="_blank">第3集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-1.html" target="_blank">第2集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-4-0.html" target="_blank">第1集</a>			</div>
		</section><section class="playlist qiyi sec">
			<header>
				<h4>奇艺高清在线播放</h4>
								<span>直接播放</span>			</header>
			<div class="mlist">
													<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-8.html" target="_blank">第9集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-7.html" target="_blank">第8集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-6.html" target="_blank">第7集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-5.html" target="_blank">第6集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-4.html" target="_blank">第5集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-3.html" target="_blank">第4集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-2.html" target="_blank">第3集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-1.html" target="_blank">第2集</a>					<a href="http://www.51rrkan.com/omdsj/cdxxg/player-3-0.html" target="_blank">第1集</a>			</div>
		</section>		<section class="pics1200 clearfix" style="margin-bottom:15px;">
			<div class="pic960 fl" style="height:90px;"><script type="text/javascript">BAIDU_CLB_fillSlot("638294");</script></div>
			<div class="pic240 fr res_hide" style="height:90px;"><div class="bd"><script type="text/javascript">BAIDU_CLB_fillSlot("756522");</script></div></div>
		</section>
		<section class="hot sec">
			<h5>热门 <span>欧美剧</span></h5>
			<ul class="cm_ul clearfix">
				<li class="first">
									<a class="img_wrap" title="剑走偏锋惊悚效果再升级" href="http://www.51rrkan.com/omdsj/xingshizouroudisiji/" target="_blank">
						<img width="135" height="180" alt="行尸走肉第四季" src="http://pica.51rrkan.org/Uploads/vod/2013-12-02/529bf2b382cbb.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第8集</em>
							<em class=""></em>
						</span>
						<span class="name">行尸走肉第四季</span>
					</a>
					<p>主演:安德鲁·林肯,莎</p>
				</li>				<li>					<a class="img_wrap" title="触底线重口十八禁" href="http://www.51rrkan.com/omdsj/xads65749/" target="_blank">
						<img width="135" height="180" alt="性爱大师" src="http://pica.51rrkan.org/Uploads/vod/2013-11-25/5292b2ae28d60.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第10集</em>
							<em class=""></em>
						</span>
						<span class="name">性爱大师</span>
					</a>
					<p>主演:麦克·辛,丽兹·</p>
				</li>				<li>					<a class="img_wrap" title="吸血鬼鼻祖的复仇之战" href="http://www.51rrkan.com/omdsj/dgld64496/" target="_blank">
						<img width="135" height="180" alt="德古拉第一季" src="http://pica.51rrkan.org/Uploads/vod/2013-11-23/5290085a0f4cb.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第5集</em>
							<em class=""></em>
						</span>
						<span class="name">德古拉第一季</span>
					</a>
					<p>主演:乔纳森·莱斯·梅</p>
				</li>				<li>					<a class="img_wrap" title="箭侠到绿箭侠的史诗巨变" href="http://www.51rrkan.com/omdsj/ljxd67351/" target="_blank">
						<img width="135" height="180" alt="绿箭侠第二季" src="http://pica.51rrkan.org/Uploads/vod/2013-11-21/528d65ae5a7ad.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第7集</em>
							<em class=""></em>
						</span>
						<span class="name">绿箭侠第二季</span>
					</a>
					<p>主演:斯蒂芬·阿美尔,</p>
				</li>				<li>					<a class="img_wrap" title="有组织的才是超级英雄" href="http://www.51rrkan.com/omdsj/sdtg63950/" target="_blank">
						<img width="135" height="180" alt="神盾局特工/神盾特工第一季" src="http://pica.51rrkan.org/Uploads/vod/2013-11-20/528c1332de3a6.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第9集</em>
							<em class=""></em>
						</span>
						<span class="name">神盾局特工/神盾特工第一季</span>
					</a>
					<p>主演:杰克·科比,斯坦</p>
				</li>				<li>					<a class="img_wrap" title="魔幻史诗大作，少儿不宜" href="http://www.51rrkan.com/omdsj/bingyuhuozhigequanlideyouxidisanji/" target="_blank">
						<img width="135" height="180" alt="冰与火之歌：权力的游戏第三季" src="http://pica.51rrkan.org/Uploads/vod/2013-06-20/51c2b54aed2e1.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">完结</em>
							<em class=""></em>
						</span>
						<span class="name">冰与火之歌：权力的游戏第三季</span>
					</a>
					<p>主演:麦茜·威廉姆斯,</p>
				</li>				<li class="res_hide">
									<a class="img_wrap" title="碧池逆袭三大帅哥沦陷" href="http://www.51rrkan.com/omdsj/xxgr67284/" target="_blank">
						<img width="135" height="180" alt="吸血鬼日记第五季" src="http://pica.51rrkan.org/Uploads/vod/2013-11-22/528eb63369250.jpg" onerror="javascript:this.src='/Public/images/nophoto.jpg';">
						<span class="note_adds">
							<em class="note_bg"></em>							<em class="note_text">更新至第8集</em>
							<em class=""></em>
						</span>
						<span class="name">吸血鬼日记第五季</span>
					</a>
					<p>主演:妮娜·杜波夫,保</p>
				</li>			</ul>
		</section>
		<div class="sub clearfix">
			<section id="cmt_anchor" class="comment sec fl">
				<!--评论开始-->
<div class="cmt_msg" id="cmt_msg">
	<form class="cmt_form clearfix" action="/?s=cm-insert" method="post">
		<a class="face_wrap fl" href="javascript:;"><img id="mem_jpg" class="face" src="http://www.51rrkan.com/Public/login/duface.png" onerror="javascript:this.src='/Public/login/duface.png'"></a>
		<div class="input_wrap fl clearfix">
			<textarea id="Test" class="fl" name="content" onFocus="Cmt.textareaFcs(this)" onKeyup="Cmt.compRemaining(this)"></textarea>
			<p class="fl clearfix">
				<a class="expression fl" href="javascript:;" onClick="Cmt.expressionClk(this)"></a>
				<span class="remaining fr">200</span>
			</p>
			<div class="eps">
				<div class="expressions">
					<ul><li onClick="Cmt.expressionTab(this,0)" class="current">默认表情</li><li onClick="Cmt.expressionTab(this,1)">阿狸</li></ul>
					<ul class="eps_con"></ul>
				</div>
			</div>
		</div>
		<p class="smt_wrap fl clearfix">
			<span class="total fl">共<em id="item_count">80</em>条影片评论</span>
			<span class="fr clearfix">
				<span id="c_login" style="display:none;">
					<span></span>
				</span>
				<a href="javascript:;" onclick="Cmt.textareaFcs()">登陆</a>
				<input type="button" value="发布" onClick="Cmt.replySmt(this)">
			</span>
		</p>
	</form>
	<!--<div class="sort_wrap"><a href="" class="current" title="按时间排序">按时间排序</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" title="按热度排序">按热度排序</a></div>-->
	<a id="anchor"></a>
	<div class="cmt_wrap">
		<div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u3978407-28.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1769524" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-27 15:10:23</span>
					<a class="name" href="javascript:;">Y.Phoenix</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">Klaus从男神变身男神经病，可素，还是好charming啊有么有！</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u1769905-25.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1769525" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-26 19:15:01</span>
					<a class="name" href="javascript:;">方可芣</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">看了一集，没有找到当年初看The Vampire Dailry的感觉</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u1493617-1.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1769526" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-26 13:28:53</span>
					<a class="name" href="javascript:;">aishiTeru</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">始祖都不全还好意思叫始祖?</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u2240098-12.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1769527" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-25 09:36:40</span>
					<a class="name" href="javascript:;">想飞之心</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">两部一起追，觉得这部比《吸血鬼日记》更吸引我啊~哈哈~~</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u2177125-17.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1769528" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-24 23:01:47</span>
					<a class="name" href="javascript:;">喵公子</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">现在呼声已经超过日记了...</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u33069495-50.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1767800" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-19 14:03:45</span>
					<a class="name" href="javascript:;">黯然。</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">好期待小Baby的诞生，因为我很喜欢Baby她爸，还有她大伯，可怜的小姑妈啥时候才不会被男人骗啊，怒其不争= =</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u2244711-23.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1767801" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-17 11:28:33</span>
					<a class="name" href="javascript:;">翠墨待书</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">看了一集，一般般吧。</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u2609980-88.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1767802" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-15 21:58:51</span>
					<a class="name" href="javascript:;">保持迷糊</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">本来以为会很烂，结果并没有呢- -</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u4079057-2.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1766264" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-14 23:21:48</span>
					<a class="name" href="javascript:;">爱喵</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">Klaus的魅力</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u42646716-2.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1766265" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-14 07:50:45</span>
					<a class="name" href="javascript:;">星星</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">我本来挺萌EKE但为啥在看到了许多姑娘的EKE言论之后我变得没有那么萌了（。</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u2171122-58.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1766266" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-13 23:06:46</span>
					<a class="name" href="javascript:;">floating</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">果然没有了圣母女主和穷摇三角恋比较容易看下去。大K上来就插了以叔啊【雾】Σ(⊙▽⊙"a...</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div><div class="cmt_item clearfix">
			<a class="face_wrap fl" href="javascript:;"><img class="face" src="http://www.51rrkan.com/Uploads/user/headimg/u3367444-71.jpg" onerror="javascript:this.src='/Public/login/duface.png'"></a>
			<div class="item_con fl">
				<input type="hidden" value="1766267" name="cm_cid">
				<p class="top">
					<span class="fr" style="padding-right:11px;">2013-11-13 17:37:25</span>
					<a class="name" href="javascript:;">郭大渺</a>
					(<a target="_blank">人人看</a>)
				</p>
													<p class="con">对初代吸血鬼的喜爱早已超越了吸血鬼日记了....</p>
				<div class="bottom clearfix">
					<ul class="fr clearfix">
						<li><a class="reply" href="javascript:;" onClick="Cmt.replyClk(this)">回复</a></li>
					</ul>
				</div>
			</div>
		</div>	</div>
	<div class="pages"><em class="prev">上一页</em><span>1</span><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-2')">2</a><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-3')">3</a><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-4')">4</a><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-5')">5</a><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-6')">6</a><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-7')">7</a><a href="javascript:void(0)" onclick="Cmt.page(this,'/index.php?s=/vod-comment-id-56037-type-vod-p-2')" class="next">下一页</a></div>
</div>
<!--评论结束-->
			</section>
			<article class="content sec fr">
				<h2 class="content_title">始祖家族/初代吸血鬼剧情介绍</h2>
				<div id="content_wrap" class="content_wrap"><p><b><span style="font-size:16px;">编辑整理</span></b></p>
<p>&nbsp;</p>
<p><a href="http://www.51rrkan.com/topic/388.html" target="_blank"> </a>　　《初代吸血鬼》讲述Klaus与初代吸血鬼的家族成员Elijah和Rebekah三兄妹返回新奥尔良定居后，并与其之前的门徒Marcel开始统治权争夺的惊险故事。</p>
<p>&nbsp;</p>
<p>&nbsp; <span style="display:inline;" class="all hidden">　 家族凝聚力量。千年前始祖吸血鬼家族相互以此为誓。他们约定生死相随，不离不弃。
                                    </span></p>
<p>&nbsp;</p>
<p><span style="display:inline;" class="all hidden">                                 　　如今，千年已逝，家族纽带不再牢固。岁月、悲惨经历和对权利的渴求让始祖家族四分五裂。
                                    </span></p>
<p>&nbsp;</p>
<p><span style="display:inline;" class="all hidden">                                 　　当Klaus Mikaelson——始祖吸血鬼与狼人的混血，收到神秘信息得知一股反抗他暗潮的正在超自然力量涌动的新奥尔良法国区内酝酿成型，于是他回到了这个曾经由他的家族帮助建立的城市。
                                    </span></p>
<p>&nbsp;</p>
<p><span style="display:inline;" class="all hidden">                                 　　Klaus的探求行为不可避免地导向与他自己曾经邪恶门生Marcel的重聚，而这位魅力非凡的吸血鬼正完全统治着新奥尔良地区的无论人类还是吸血鬼市民们。
                                    </span></p>
<p>&nbsp;</p>
<p><span style="display:inline;" class="all hidden">                                 　　而Elijah为帮助寻找亲弟的救赎，追随Klaus来到了新奥尔良，并在随后发现同样来到法国区追寻失落家族历史线索的狼人女孩Hayley落入了名叫Sophie的强大女巫的掌握。
                                    </span></p>
<p>&nbsp;</p>
<p><span style="display:inline;" class="all hidden">                                 　　在Marcel及其忠心耿耿追随者强力统治下的城市，各个超自然生物阵营之间的紧张关系濒临爆发。
                                    </span></p>
<p>&nbsp;</p>
<p><span style="display:inline;" class="all hidden">                                 
　　Klaus无法接受听命于自己享有权力门徒的现状，并发誓夺回曾经属于自己的权力、城市和家族.Klaus和Elijah与女巫们结成并不稳固同盟以
确保新奥尔良重新回归始祖家族的掌握，与此同时这对兄弟也在等待着同胞妹妹Rebekah做出是否加入他们的决定。&nbsp;</span></p>
<p><b><span style="font-size:14px;">&nbsp;影片看点</span></b><br />
<b>《吸血鬼日记》新季叙事两条线 男主女主恋情复杂</b><br />
　　本集主要分两条线叙事：刚进大学的Elena和Caroline和在神秘瀑布镇的Damon和Jeremy，而串联两条线的主要人物是和Stephan长得一模一样的Silas。第一集的开头便是Elena和Damon的亲密互动，可见他们确实度过了一个激情又浪漫的暑假，但《吸血鬼日记》从来就不会放过任何一个折磨主角的机会。Elena梦见了Stephan，心头隐约有着不好的预感。Damon送走Elena后，Katherine就出现在家里，寻求他的保护。究竟Stephan发生了什么，Silas出现的目的何在，Katherine又将面对何种境况[7]？<br />
同时Elena和Caroline也踏入了大学校园，尽管经历了许多不可思议的事，两人也不再是普通人类，但进入大学校园，心情仍然和普通人一样的雀跃。正当两人拿起血袋准备庆祝时，不速之客——第三位室友Megan出现了，这让Caroline大为恼火，Elena则说要表现的像个正常人。但这位新室友真的只是普通室友吗？至少当Caroline发现Megan带来的水里混有马鞭草时，事情绝对不是看起来那么单纯。更令人震惊的是，这位新室友竟与Elena的爸爸有关联。Megan到底是只为推动剧情的酱油人物，还是后续的关键人物呢？<br />
　　Silas在Damon家里发现了Katherine，想要杀了她，却让她逃走了。他来到镇里，毫不遮掩身份，发动镇民帮他寻找Katherine，还杀了一个对Bonnie十分重要的人。Silas如此不择手段要找到Katherine，究竟是为了什么？Stephan又在哪里？<br />
<br />
<b>《初代吸血鬼》与母剧关联不大 沉重的基调埋下多重伏笔</b><br />
　　作为《吸血鬼日记》的衍生剧，《初代吸血鬼》顾名思义讲的是始祖吸血鬼的故事，即是以《吸血鬼日记》中的Klaus，Elijah和Rebekah一家为中心展开。第一集的开头闪回到三百年前，让观众见到了三百年前吸血鬼始祖的样子，之后的故事就从三百年后的新奥尔良开始。<br />
　　Elijah重新回到新奥尔良，却发现他要找的人已经死了，而且还是为了保护一个怀了孕的狼女而死。而狼女Hayley肚子里的孩子竟是弟弟Klaus[4]的。与此同时，Klaus曾经的门徒Marcel掌控了新奥尔良，Marcel手段暴虐，行事肆无忌惮，不仅赶走狼人，也让女巫在这里无立足之地。女巫Sophie利用Hayley来向Klaus和Elijah寻求帮助，无奈Klaus根本不在乎这个孩子，但Elijah十分在意，认为这是唤起他们家族的人性与善良的一个机会。两人的争执会如何化解？Hayley的孩子能否保住？Klaus又会如何收复他的失地？</p>
<p style="margin-top:0pt;margin-bottom:0pt;" class="p0"><span style="font-family:'宋体';color:#333333;font-size:12pt;font-weight:bold;mso-spacerun:'yes';">更多精彩美剧请观看重磅专题</span></p>
<p style="margin-top:0pt;margin-bottom:0pt;" class="p0"><span style="font-family:'宋体';color:#e53333;font-size:16px;font-weight:bold;"><br />
</span></p>
<p class="p0" style="margin-left:18.0000pt;margin-bottom:0pt;margin-top:0pt;text-autospace:ideograph-other;"><span style="color:#e53333;font-size:16px;font-family:'宋体';">★ </span><a target="_blank" href="http://www.51rrkan.com/topic/589.html"><span><span class="15" style="color:#e53333;font-weight:bold;text-decoration:underline;font-size:16px;font-family:'宋体';">剧史无法绕过的经典英美剧</span></span></a></p>
<p class="p0" style="margin-left:18.0000pt;margin-bottom:0pt;margin-top:0pt;text-autospace:ideograph-other;"><span style="color:#e53333;font-size:16px;font-family:'宋体';">★ </span><a href="http://www.51rrkan.com/topic/33.html" target="_blank"><span><span class="15" style="color:#e53333;font-weight:bold;text-decoration:underline;font-size:16px;font-family:'宋体';">风靡世界的吸血鬼剧</span></span></a></p>
<p class="p0" style="margin-left:18.0000pt;margin-bottom:0pt;margin-top:0pt;text-autospace:ideograph-other;"><span style="color:#e53333;font-size:16px;font-family:'宋体';">★ </span><a target="_blank" href="http://www.51rrkan.com/topic/473.html"><span><span class="15" style="color:#e53333;font-weight:bold;text-decoration:underline;font-size:16px;font-family:'宋体';">三观尽毁的重口味美剧TOP10</span></span></a></p>
<p class="p0" style="margin-left:18.0000pt;margin-bottom:0pt;margin-top:0pt;text-autospace:ideograph-other;"><span style="color:#e53333;font-size:16px;font-family:'宋体';">★ </span><a target="_blank" href="http://www.51rrkan.com/topic/665.html"><span><span class="15" style="color:#e53333;font-weight:bold;text-decoration:underline;font-size:16px;font-family:'宋体';">屌丝必备美剧大盘点</span></span></a></p>
<p class="p0" style="margin-bottom:0pt;margin-top:0pt;"><span style="color:#e53333;font-size:16px;font-family:'宋体';">&nbsp;&nbsp; ★ </span><a href="http://www.51rrkan.com/topic/388.html" target="_blank"><span><span class="15" style="color:#e53333;font-weight:bold;text-decoration:underline;font-size:16px;font-family:'宋体';">华丽丽的医疗美剧</span></span></a></p>
<a href="http://www.51rrkan.com/topic/388.html" target="_blank"><br />
</a> ★51rrkan.com第一时间为您提供最新最全的免费《始祖家族/初代吸血鬼》资讯<br />
★感谢您使用百度影音观看《始祖家族/初代吸血鬼》<br /></div>
			</article>
		</div>
		<section class="pics1200 clearfix" style="margin-top:15px; margin-bottom:15px">
			<div class="pic960 fl" style="height:90px;"><script type="text/javascript">BAIDU_CLB_fillSlot("701675");</script></div>
			<div class="pic240 fr res_hide" style="height:90px;"><div class="bd"><script type="text/javascript">BAIDU_CLB_fillSlot("756523");</script></div></div>
		</section>
		<!--百度推荐-->
		<section class="bd_rel" id="hm_t_8140"></section>
		<section class="b_search clearfix">
			<form class="clearfix fl" action="/index.php?s=vod-search" method="post" target="_blank">
				<input class="text fl" onfocus="this.style.color='#333'" onblur="this.style.color='#ccc'" type="text" name="wd" value="始祖家族/初代吸血鬼 51人人看">
				<input id="bd_search" class="btn fl" type="submit" value="试试百度一下" title="试试百度一下">
			</form>
			<p id="bd_search_a" class="fl"><a href="http://www.51rrkan.com/khdy/diqiuyinli/" target="_blank">地心引力</a><a href="http://www.51rrkan.com/juqing/sd64010/" target="_blank">扫毒</a><a href="http://www.51rrkan.com/guochan/zaimenjiehunba/" target="_blank">咱们结婚吧</a><a href="http://www.51rrkan.com/khdy/jieyouxihuoxingliaoyuan/" target="_blank">饥饿游戏2</a><a href="http://www.51rrkan.com/dzdy/jctk65337/" target="_blank">金蝉脱壳</a><a href="http://www.51rrkan.com/day/58.html" target="_blank">女汉子</a><a href="http://www.51rrkan.com/topic/183.html" target="_blank">僵尸合辑</a></p>
		</section>
	</div>
</div>
<script>
seajs.use("common",function(common){
	common.tab("mouseenter","#tab1");
	common.vodShowMore();
	common.vodBdSearch();
	Tools = common.Tools;
});
seajs.use("cmt",function(cmt){
	Cmt = cmt.Cmt;
});
</script>
<section class="pop_wrap">
	<div id="login_wrap" class="login_wrap clearfix">
		<div class="left fl">
			<h3>请登录人人看网</h3>
			<form action="/index.php?s=member-login" method="post">
				<div><label>账号</label><input class="text" name="username" type="text"></div>
				<div><label>密码</label><input class="text" name="password" type="password"></div>
				<div class="clearfix"><!--<input class="chkbox fl" name="login" value="1" type="checkbox"><label class="s fl">记住我的选择</label>--><input class="submit fl" type="submit" value="登录"></div>
			</form>
		</div>
		<div class="right fr">
			<h3>还没有账号?</h3>
			<div><p><a href="http://www.51rrkan.com/index.php?s=member-user_reg-url-~omdsj~cdxxg~">注册一个账号</a><p><p><a class="smt_btn" href="http://www.51rrkan.com/index.php?s=member-qqreg-url-~omdsj~cdxxg~"></a></p></div>
		</div>
	</div>
<div id="remind_login" class="remindbox rl">
		<div class="bd">
			<p class="title">登录账号后，继续订阅本剧集</p>
			<p>您可以 <a class="ln" href="javascript:;">登录</a> 或 <a href="http://www.51rrkan.com/member/reg" target="_blank">注册一个新账号</a></p>
		</div>
		<div class="ft">
			<a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=去“人人看“http://www.51rrkan.com 看电影电视剧的时候到啦！&time=2013-12-04 17:12&advance=0&url=http://www.51rrkan.com" target="_blank">使用QQ提醒：免登录设置提醒</a>
		</div>
	</div>
	<div id="remind_succ" class="remindbox rs">
		<div class="bd">
			<p class="title">设置成功，提醒将以邮件方式发送至</p>
			<p><em>您的邮箱：</em><span class="mail"></span></p>
		</div>
		<div class="ft">
			去 <a href="http://www.51rrkan.com/member/collect" target="_blank">收藏</a> 来管理提醒
		</div>
	</div>
	<div id="cancel_succ" class="remindbox cs">
		<div class="bd">
			<p class="title">取消成功！试试QQ单次提醒：</p>
			<div class="add_wrap"><a href="http://qzs.qq.com/snsapp/app/bee/widget/open.htm#content=去“人人看“http://www.51rrkan.com 看电影电视剧的时候到啦！&time=2013-12-04 17:12&advance=0&url=http://www.51rrkan.com" target="_blank"><img src="http://i.gtimg.cn/snsapp/app/bee/widget/img/2_1.png" style="border:0px;"/></a></div>
		</div>
		<div class="ft">
			去 <a href="http://www.51rrkan.com/member/collect" target="_blank">收藏</a> 来管理提醒
		</div>
	</div></section>
<footer class="g_footer">
	<p>欧美剧<span>《</span><a href="http://www.51rrkan.com/omdsj/cdxxg/">始祖家族/初代吸血鬼</a><span>》</span>主演约瑟夫·摩根,克莱尔·霍尔特,丹尼尔·吉利斯，于2013-12-04 17:12更新。<a href="http://www.51rrkan.com/omdsj/cdxxg/">始祖家族/初代吸血鬼 百度影音</a>，提供高清、普清和枪版三个版本。</p>	<p>本网站提供的最新电影，电视剧和动漫资源均系收集于各大视频网站，本网站只提供web页面服务，并不提供影片资源存储，也不参与录制、上传</p>
	<p>若本站收录的节目无意侵犯了贵司版权，请给网页底部邮箱地址来信，我们会及时处理和回复，谢谢</p>
	<p>Copyright @2003-2011 51人人看电影网 www.51rrkan.com ICP备2010111号</p>
	<p><a href="http://www.51rrkan.com/gb-show.html" title="求片留言">求片留言</a><em>|</em><a href="http://www.51rrkan.com/help/" title="百度影音帮助">百度影音帮助</a><em>|</em><a href="http://www.51rrkan.com/allmovie.html" title="网站地图">网站地图</a><em>|</em><a href="http://www.51rrkan.com/sitemap.xml" title="">百度地图</a><em>|</em><span>联系我们：51rrkancc#gmail.com</span></p>
</footer>
<script type="text/javascript" id="bdshare_js" data="type=button&amp;uid=0" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<div style="display:none"><script type="text/javascript" language="javascript" src="http://www.51rrkan.com/detail/tongji.js"></script></div>
<script type="text/javascript" src="http://www.51rrkan.com/detail/all_pt.js" charset="utf-8"></script><script type="text/javascript" src="http://www.51rrkan.com/detail/all_tp.js" charset="utf-8"></script><script type="text/javascript" src="http://www.51rrkan.com/tongji.php?t=vod&key=VTdRZ1cwCWhXMA=="></script>
</body>
</html>