
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="stylesheet" href=" resource/style/global.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/desktop.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/panel.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/icons.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/taskbar.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/filebrowser.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/tab-panel.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/menu.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/shortcut.css" type="text/css" />
    <link rel="stylesheet" href=" resource/style/form.css" type="text/css" />

    <script type="text/javascript" src="javascripts/template.js"></script>
    
    <script type="text/javascript" src="javascripts/jquery-2.0.2.js"></script>
    
    <script type="text/javascript" data-main="app" src="javascripts/require.js"></script>
    
    <style>
        
        
    </style>
</head>


<body style="width:100%;height:100%;overflow: hidden;">
    <!-- 
    <div id="${me.id}" class="content-menu" style="top:100px;left:100px">
        <ul >
            <li><a>asdf<div class="right-arrows"></div></a></li>
            <li><a>asdf<div class="right-arrows"></div></a></li>
        </ul>
    </div>
    -->
</body>
</html>
